[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/ImGuiColorTextEdit"]
	path = thirdparty/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "thirdparty/metal-cpp"]
	path = thirdparty/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
